<h2> Imports </h2>

In [2]:
import pandas as pd
import numpy as np
import json
import os

<h1> Step 1: Prepare data and configure the environment </h1>

<h3> 1. Data Uploading (Data I/O) </h3>

1.1. Loading data from files

In [4]:
# Define the base directories
dataset_dir = '../Data_Generator/datasets'
topology_dir = '../Topology_Generator/topologies'

Loading dataset

In [13]:
# Initialize dictionaries for datasets and topologies
datasets = {}

# Function to load datasets from a directory
def load_datasets_from_directory(dataset_dir):
    
    # Loop through each folder in the datasets directory
    for dataset_name in os.listdir(dataset_dir):
        dataset_path = os.path.join(dataset_dir, dataset_name)
        
        # Only process directories
        if os.path.isdir(dataset_path):
            episodes = os.path.join(dataset_path, "episodes.csv")
            agents = os.path.join(dataset_path, "agents.csv")
            arrivals = os.path.join(dataset_path, "arrivals.csv")
            tasks = os.path.join(dataset_path, "tasks.csv")
            
            dataset = {}
            dataset['episodes'] = pd.read_csv(episodes)
            dataset['agents'] = pd.read_csv(agents)
            dataset['arrivals'] = pd.read_csv(arrivals)
            dataset['tasks'] = pd.read_csv(tasks)
            datasets[dataset_name] = dataset
                
    # return datasets

In [29]:
# Call the functions to load data and topologies
load_datasets_from_directory(dataset_dir)

print("dataset heavy -> agents")
display(datasets['heavy']['agents'].head())
datasets['heavy']['agents'].info()

print("\ndataset heavy -> arrivals")
display(datasets['heavy']['arrivals'].head())
datasets['heavy']['arrivals'].info()

print("\ndataset heavy -> episodes")
display(datasets['heavy']['episodes'].head())
datasets['heavy']['episodes'].info()

print("\ndataset heavy -> tasks")
display(datasets['heavy']['tasks'].head())
datasets['heavy']['tasks'].info()

heavy -> agents

   agent_id       f_local       m_local   lam_sec
0         0  1.741183e+09  5.713850e+09  0.708673
1         1  1.352326e+09  4.566429e+09  0.234989
2         2  1.726668e+09  5.815120e+09  0.228174
3         3  1.543616e+09  3.539850e+09  0.310369
4         4  1.130883e+09  4.161368e+09  0.548990

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   agent_id  18 non-null     int64
 1   f_local   18 non-null     float64
 2   m_local   18 non-null     float64
 3   lam_sec   18 non-null     float64
dtypes: float64(3), int64(1)
memory usage: 704.0 bytes

heavy -> arrivals

  scenario  episode_id  t_slot  t_time  agent_id  task_id
0    heavy           0       0     0.0         0        0
1    heavy           0       0     0.0         1        1
2    heavy           0       0     0.0         4        2
3    heavy           0       0     0.0         7        3
4    heavy           0       0     0.0        10        4

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30636 entries, 0 to 30635
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   scenario    30636 non-null  object
 1   episode_id  30636 non-null  int64
 2   t_slot      30636 non-null  int64
 3   t_time      30636 non-null  float64
 4   agent_id    30636 non-null  int64
 5   task_id     30636 non-null  int64
dtypes: float64(1), int64(4), object(1)
memory usage: 1.4+ MB

heavy -> episodes

  scenario  episode_id  Delta  T_slots  hours  N_agents  seed
0    heavy           0    1.0     3600    1.0        18   345

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   scenario    1 non-null      object
 1   episode_id  1 non-null      int64
 2   Delta       1 non-null      float64
 3   T_slots     1 non-null      int64
 4   hours       1 non-null      float64
 5   N_agents    1 non-null      int64
 6   seed        1 non-null      int64
dtypes: float64(2), int64(4), object(1)
memory usage: 184.0+ bytes

heavy -> tasks

,scenario,episode_id,task_id,agent_id,t_arrival_slot,t_arrival_time,b_mb,rho_cyc_per_mb,c_cycles,mem_mb,modality,has_deadline,deadline_s,deadline_time,non_atomic,split_ratio,action_space_hint
0,heavy,0,0,0,0,0.0,5.000003,1.499999e+09,7.499998e+09,64.000006,sensor,1,0.800726,0.800726,0,0.000000,discrete
1,heavy,0,1,1,0,0.0,5.000001,1.500000e+09,7.499999e+09,64.000031,image,1,0.615113,0.615113,0,0.000000,discrete
2,heavy,0,2,4,0,0.0,5.000005,1.500002e+09,7.500016e+09,64.000021,text,1,0.323007,0.323007,1,0.539704,continuous
3,heavy,0,3,7,0,0.0,5.000002,1.500001e+09,7.500006e+09,63.999980,sensor,1,0.481587,0.481587,0,0.000000,discrete
4,heavy,0,4,10,0,0.0,5.000008,1.499999e+09,7.500006e+09,64.000022,sensor,1,0.594564,0.594564,0,0.000000,discrete

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30636 entries, 0 to 30635
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   scenario           30636 non-null  object
 1   episode_id         30636 non-null  int64
 2   task_id            30636 non-null  int64
 3   agent_id           30636 non-null  int64
 4   t_arrival_slot     30636 non-null  int64
 5   t_arrival_time     30636 non-null  float64
 6   b_mb               30636 non-null  float64
 7   rho_cyc_per_mb     30636 non-null  float64
 8   c_cycles           30636 non-null  float64
 9   mem_mb             30636 non-null  float64
 10  modality           30636 non-null  object
 11  has_deadline       30636 non-null  int64
 12  deadline_s         10673 non-null  float64
 13  deadline_time      10673 non-null  float64
 14  non_atomic         30636 non-null  int64
 15  split_ratio        30636 non-null  float64
 16  action_space_hint  30636 non-null  object
dtypes: float64(8), int64(6), object(3)
memory usage: 4.0+ MB

Loading topology

In [40]:
topologies = {}

def load_topologies_from_directory(topology_dir):
    
    # Loop through each folder in the topologies directory
    for topology_name in os.listdir(topology_dir):
        topology_path = os.path.join(topology_dir, topology_name)
        # print("topology_path", topology_path)
        
        # Only process directories
        if os.path.isdir(topology_path):
            topology_json_path = os.path.join(topology_path, "topology.json")
            meta_json_path = os.path.join(topology_path, "topology_meta.json")
            connection_matrix_csv_path = os.path.join(topology_path, "connection_matrix.csv")
            
             # --- Load JSON files ---
            topology_data = None
            meta_data = None
            # if os.path.exists(topology_json_path):
            with open(topology_json_path, "r", encoding="utf-8") as f:
                topology_data = json.load(f)
            # if os.path.exists(meta_json_path):
            with open(meta_json_path, "r", encoding="utf-8") as f:
                meta_data = json.load(f)
            
            # Load the connection matrix CSV file
            # if os.path.exists(connection_matrix_csv):
            connection_matrix = pd.read_csv(connection_matrix_csv_path)
            # else:
                # connection_matrix = None  # Handle case if the file doesn't exist
            
            # Store the topology details and the loaded CSV
            topologies[topology_name] = {
                "topology_json": topology_data,
                "meta_json": meta_data,
                # "connection_matrix_csv": connection_matrix_csv,
                "connection_matrix": connection_matrix  # Store the loaded CSV data
            }
    
    # return topologies

In [42]:
load_topologies_from_directory(topology_dir)

print('topology clustered -> connection_matrix')
display(topologies['clustered']['connection_matrix'].head())
topologies['clustered']['connection_matrix'].info()

print('topology clustered -> topology_json')
print(topologies['clustered']['topology_json'])

print('topology clustered -> meta_json')
print(topologies['clustered']['meta_json'])

topology clustered -> connection_matrix

,no.,mec_0no.,mec_1no.,mec_2no.,mec_3no.,mec_4no.,mec_5no.,mec_6no.,mec_7no.,mec_8no.,mec_9no.,mec_10no.,mec_11no.,mec_12no.,mec_13no.,mec_14no.,mec_15no.,mec_16no.,mec_17no.,cloud
0,mec_0,0.000000,9.798801,11.958295,11.470404,9.980195,8.814050,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,98.912800
1,mec_1,9.798801,0.000000,8.375143,11.535600,10.702584,9.136893,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,104.609202
2,mec_2,11.958295,8.375143,0.000000,8.814632,9.637714,9.170700,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,92.055348
3,mec_3,11.470404,11.535600,8.814632,0.000000,10.377054,11.920252,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,84.851664
4,mec_4,9.980195,10.702584,9.637714,10.377054,0.000000,8.105383,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,99.076301

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   no.        18 non-null     object
 1   mec_0no.   18 non-null     float64
 2   mec_1no.   18 non-null     float64
 3   mec_2no.   18 non-null     float64
 4   mec_3no.   18 non-null     float64
 5   mec_4no.   18 non-null     float64
 6   mec_5no.   18 non-null     float64
 7   mec_6no.   18 non-null     float64
 8   mec_7no.   18 non-null     float64
 9   mec_8no.   18 non-null     float64
 10  mec_9no.   18 non-null     float64
 11  mec_10no.  18 non-null     float64
 12  mec_11no.  18 non-null     float64
 13  mec_12no.  18 non-null     float64
 14  mec_13no.  18 non-null     float64
 15  mec_14no.  18 non-null     float64
 16  mec_15no.  18 non-null     float64
 17  mec_16no.  18 non-null     float64
 18  mec_17no.  18 non-null     float64
 19  cloud      18 non-null     float64
dtypes: float64(19), object(1)
memory usage: 2.9+ KB
topology clustered -> topology_json
{'number_of_servers': 18, 'private_cpu_capacities': [1417026512.123894, 1465835517.1380253, 1400296152.8672054, 1219863115.6758468, 1270376631.237273, 1348019534.1092064, 1786161289.9722981, 1380932007.7716885, 1739680378.9314957, 1606151704.3138125, 1722792016.067419, 1452119690.3718696, 1575323717.1732426, 1675176049.772993, 1465269239.5654364, 1565743740.4168038, 1715259832.5839007, 1225832428.456285], 'public_cpu_capacities': [768946447.3896191, 753418540.8443304, 702715947.6715652, 545197668.8935852, 670994513.1813464, 680525151.7601619, 811159071.5491732, 782943570.2288362, 501997671.50295806, 685198791.9005744, 822519853.1111488, 716138690.9607652, 822355072.296565, 556428866.3646028, 805978940.2755054, 790274917.5537901, 602437544.1146357, 709495765.381235], 'cloud_computational_capacity': 30000000000.0, 'connection_matrix': [[0.0, 9.798800609449902, 11.958295388571093, 11.470404384171585, 9.980195439399376, 8.8140500666217, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 98.91279981562592], [9.798800609449902, 0.0, 8.375143239602235, 11.535600106180025, 10.702584376249934, 9.136893120492793, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 104.60920207554163], [11.958295388571093, 8.375143239602235, 0.0, 8.814631907625701, 9.637714071509851, 9.170700424264968, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 92.05534806322484], [11.470404384171585, 11.535600106180025, 8.814631907625701, 0.0, 10.37705391001423, 11.920252079923895, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 84.85166371762908], [9.980195439399376, 10.702584376249934, 9.637714071509851, 10.37705391001423, 0.0, 8.10538323609413, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 99.0763009651688], [8.8140500666217, 9.136893120492793, 9.170700424264968, 11.920252079923895, 8.10538323609413, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 115.0792791055983], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 9.844690223161571, 9.566567838535661, 11.01158338193066, 10.132206014485726, 11.731761213672993, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 115.87637059619391], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 9.844690223161571, 0.0, 8.17265481777462, 11.317250164676846, 9.944330066939582, 11.698994881774604, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 85.49730491373893], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 9.566567838535661, 8.17265481777462, 0.0, 11.919271797879857, 9.162931925532463, 11.22074688068535, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 104.13111014716404], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 11.01158338193066, 11.317250164676846, 11.919271797879857, 0.0, 11.8680001020066, 11.393785145055949, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 87.20532264682294], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10.132206014485726, 9.944330066939582, 9.162931925532463, 11.8680001020066, 0.0, 9.548734790752288, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 98.89380625765318], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 11.731761213672993, 11.698994881774604, 11.22074688068535, 11.393785145055949, 9.548734790752288, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 100.16242880696842], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8.573089728358958, 10.155633210306574, 11.202595781660758, 10.69123291440641, 11.439129446848145, 94.68338717140213], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8.573089728358958, 0.0, 10.795539716597093, 9.382485758460357, 8.156515169162681, 10.108953651086749, 86.2148806997884], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10.155633210306574, 10.795539716597093, 0.0, 8.183423253938845, 9.055460579237527, 8.857865582666564, 100.51802149006446], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 11.202595781660758, 9.382485758460357, 8.183423253938845, 0.0, 10.922031113226154, 8.777507498932518, 85.56329833615376], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10.69123291440641, 8.156515169162681, 9.055460579237527, 10.922031113226154, 0.0, 11.48804541896262, 109.44902761831553], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 11.439129446848145, 10.108953651086749, 8.857865582666564, 8.777507498932518, 11.48804541896262, 0.0, 119.21419244342577]], 'time_step': 1.0, 'topology_type': 'clustered', 'skip_k': 5, 'symmetric': True, 'num_clusters': 3}
topology clustered -> meta_json
{'generated_at_utc': '2025-10-28T10:15:39Z', 'fingerprint': '9a3a6cc2768b6834', 'env': {'python': '3.10.9', 'user': 'niush'}, 'units': {'compute': 'CPU cycles per slot', 'links': 'MB per slot', 'time_step': 'seconds'}, 'notes': {'inputs_unit': {'compute': 'CPU cycles per second', 'links': 'MB per second'}, 'conversion': 'per_slot = per_second * time_step'}}

This code loads five input files and returns the data in the form of data frames (for CSV files) and dictionaries (for JSON files).